name: Code Quality Checks

on:
  pull_request:
    branches:
      - '**'
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  linting:
    name: ESLint
    timeout-minutes: 15
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 1
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - uses: actions/cache@v3
        name: Yarn Cache
        id: yarn-cache
        with:
          path: .yarn/
          key: ${{ runner.os }}-yarn-${{ hashFiles('package.json') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - name: Yarn Install
        uses: nick-fields/retry@v2
        with:
          timeout_minutes: 3
          retry_wait_seconds: 30
          max_attempts: 3
          command: yarn
      - name: Lint
        run: yarn lint

  typescript:
    name: TypeScript Build Validation
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - uses: actions/cache@v3
        name: Yarn Cache
        id: yarn-cache
        with:
          path: .yarn/
          key: ${{ runner.os }}-yarn-${{ hashFiles('package.json') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - name: Yarn Install
        uses: nick-fields/retry@v2
        with:
          timeout_minutes: 3
          retry_wait_seconds: 30
          max_attempts: 3
          command: yarn
      - name: Lint
        run: yarn tsc:compile

  typedoc:
    name: TypeDoc Generation
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - uses: actions/cache@v3
        name: Yarn Cache
        id: yarn-cache
        with:
          path: .yarn/
          key: ${{ runner.os }}-yarn-${{ hashFiles('package.json') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - name: Yarn Install
        uses: nick-fields/retry@v2
        with:
          timeout_minutes: 3
          retry_wait_seconds: 30
          max_attempts: 3
          command: yarn
      - name: Generate TypeDoc
        run: yarn build:docs
