name: Testing E2E

on:
  pull_request:
    branches:
      - '**'
    paths-ignore:
      - 'docs/**'
      - '**/*.md'

  push:
    branches:
      - main
    paths-ignore:
      - 'docs/**'
      - '**/*.md'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  # ------------------
  #      Android
  # ------------------
  android:
    name: Android
    runs-on: ubuntu-latest
    timeout-minutes: 70
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 50

      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - uses: actions/cache@v3
        name: Yarn Cache
        id: yarn-cache
        with:
          path: |
            .yarn/
            example/.yarn
          key: ${{ runner.os }}-yarn-${{ hashFiles('package.json', 'example/package.json') }}

      - uses: actions/cache@v3
        name: Gradle Cache
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}

      - name: Yarn Install
        uses: nick-fields/retry@v2
        with:
          timeout_minutes: 10
          retry_wait_seconds: 60
          max_attempts: 3
          command: yarn && yarn example:prepare

      - name: Configure JDK
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Build Android App
        uses: nick-fields/retry@v2
        with:
          timeout_minutes: 15
          retry_wait_seconds: 60
          max_attempts: 3
          command: yarn example:build:android

  # ------------------
  #        iOS
  # ------------------
  ios:
    name: iOS
    runs-on: macos-latest
    # TODO matrix across APIs, at least 10 and 13 (lowest to highest)
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 50

      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: latest-stable

      - uses: actions/cache@v3
        name: Yarn Cache
        id: yarn-cache
        with:
          path: |
            .yarn
            example/.yarn
          key: ${{ runner.os }}-yarn-${{ hashFiles('package.json', 'example/package.json') }}

      - uses: actions/cache@v3
        name: Cache Pods
        with:
          path: |
            example/ios/Pods
            example/macos/Pods
          key: ${{ runner.os }}-pods-${{ hashFiles('example/ios/Podfile.lock', 'example/macos/Podfile.lock') }}

      - name: Update brew build tools
        uses: nick-fields/retry@v2
        with:
          timeout_minutes: 10
          retry_wait_seconds: 60
          max_attempts: 3
          command: brew install xcbeautify

      - name: Update Ruby build tools
        uses: nick-fields/retry@v2
        with:
          timeout_minutes: 10
          retry_wait_seconds: 60
          max_attempts: 3
          command: gem update cocoapods xcodeproj

      - name: Yarn and Pod Install
        uses: nick-fields/retry@v2
        with:
          timeout_minutes: 10
          retry_wait_seconds: 60
          max_attempts: 3
          command: yarn && yarn example:prepare

      - name: Build iOS App
        run: |
          yarn example:build:ios
